system {
	servicesPath = "./src/main/scala/com/holmesprocessing/analytics/services"
}

webserver {
	interface = "localhost"
	port = 8080
}

amqp {
	host {
		server = "127.0.0.1"
		port = 5672
		username = "guest"
		password = "guest"
		vhost = "/"
	}

	exchange {
		name = "analytics"
		type = "topic"
		durable = true
	}

	consumequeue {
		name = "analytics_input"
		routingKey = "work.static.analytics"
		durable = true
		exclusive = false
		autodelete = false
	}

	misbehavequeue {
		name = "analytics_misbehave"
		routingKey = "misbehave.static.analytics"
		durable = true
		exclusive = false
		autodelete = false
	}
}

cassandra {
	host = "10.0.1.2"
	username = "cuser"
	password = "cpassword"
}

spark {
	sparkSubmitPath = "/usr/local/spark/bin/spark-submit"
	arguments = ""
	spark-cassandra-connector = "2.0.3-s_2.11"
}
